services:
  - type: web
    name: wife-mood-bot
    runtime: python
    pythonVersion: "3.9.1"
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.1
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: WEBHOOK_SECRET
        sync: false
      - key: ADMIN_ID
        sync: false
    healthCheckPath: /health
    healthCheckTimeout: 30
    autoDeploy: true